<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-this"><a th:href="@{'/goods/admin_goodslist'}">商品列表</a></li>
    <li class="layui-nav-item"><a th:href="@{'/order/admin_orderlist'}">订单列表</a></li>
</ul>
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 商品</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <a class="layui-btn open-popup" data-title="新增商品" th:attr="data-url=@{'/goods/admin_goodsedit/0'}"  data-size="600,330" href="javascript:;">新增</a>
                </div>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table timo-table-fixed">
                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>商品简述</th>
                    <th>商品价格</th>
                    <th>秒杀价格</th>
                    <th>库存数量</th>
                    <th>商品数量</th>
                    <th>上架时间</th>
                    <th>下架时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td th:text="${item.goodsName}"></td>
                    <td><img th:src="@{${item.goodsImg}}" width="80" height="60"></img></td>
                    <td th:text="${item.goodsTitle}"></td>
                    <td th:text="${item.goodsPrice}"></td>
                    <td th:text="${item.msGoodsPrice}"></td>
                    <td th:text="${item.goodsStock}"></td>
                    <td th:text="${item.totalStock}"></td>
                    <td th:text="${#dates.format(item.upshelfTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(item.downshelfTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a class="open-popup" data-title="编辑商品" th:attr="data-url=@{'/goods/admin_goodsedit/'+${item.id}}"  data-size="600,330" href="javascript:;">编辑</a>
                        <a href="javascript:void(0)" th:onclick="'changeStatus('+${item.id}+','+${item.status}+')'" th:text="${item.status==0}?'上架':'下架'"></a>
                        <a href="javascript:void(0)" th:onclick= "'dataDelete('+${item.id}+')'">删除</a>
                        <span th:if="${item.isMs==0 || item.isMs==null}">
                            <a class="open-popup" data-title="参与秒杀" th:attr="data-url=@{'/goods/admin_msedit/'+${item.id}}"  data-size="600,330" href="javascript:;">参与秒杀</a>
                        </span>
                        <span th:if="${item.isMs==1}">
                            <a href="javascript:void(0)" th:onclick="'delMs('+${item.id}+')'">取消秒杀</a>
                        </span>
                    <!--<a href="javascript:void(0)" th:onclick="'changeMsStatus('+${item.id}+','+${item.isMs}+')'" th:text="${item.isMs==0 || item.isMs==null}?'参与秒杀':'取消秒杀'"></a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script>
    function dataDelete(id) {
        if (!confirm("确定删除吗？"))
            return false;
        var url = "/goods/del/" + id;
        $.ajax({
            url		: url,
            type	: "get",
            success: function (res) {
                console.log(res);
                if(res.code == 200){
                    window.location.reload();
                }else{
                    alert(res.msg);
                }
            }
        });
    }
    function delMs(id) {
        console.log(id);
        if (!confirm("确定取消秒杀吗？"))
            return false;
        var setMsUrl = "/goods/msdel/" + id;
        $.ajax({
            url		: setMsUrl,
            type	: "get",
            success: function (res) {
                console.log(res);
                    if(res.code == 200){
                    window.location.reload();
                }else{
                    alert(res.msg);
                }
            }
        });

    }

    function changeStatus(id, flag) {
        console.log(id);
        console.log(status);
        status = flag == 1 ? 0 : 1;
        msgAdd = flag == 1 ? "下架" : "上架";
        if (!confirm("确定"+msgAdd+"吗？"))
            return false;
        $.ajax({
            url		: "/goods/shelf/" + id + "/" + status,
            type	: "get",
            success: function (res) {
                console.log(res);
                if(res.code == 200){
                    window.location.reload();
                }else{
                    alert(res.msg);
                }
            }
        });
    }

    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
</body>
</html>