<!DOCTYPE html>
<!-- 使用thymeleaf，配置相应的 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/><!--<meta charset="UTF-8" />  thymeleaf模板引擎默认是Template modes:HTML5解析的，所以解析比较严格。  -->
    <title>乞丐商城</title>
    <!-- thymeleaf引入静态资源的方式，@加大括弧    "/" 代表static路径-->
    <!-- jquery -->
    <!-- <script type="text/javascript" th:src="@{/js/jequery.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/jquery-validation/lib/jquery-1.11.1.js}"></script>
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
     -->
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">乞丐商城</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{'/goods/to_list/1'}">主页</a></li>
                <li><a th:href="@{'/goods/to_mslist'}">秒杀特价商品</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel panel-default">
    <div class="panel-heading">搜索结果</div>
    <table class="table" id="goodslist">
        <tr><td>商品名称</td><td>商品图片</td><td>商品简述</td><td>商品价格</td><td>库存数量</td><td>详情</td></tr>
        <tr th:each="goods,goodsStat:${goodsList}">
            <td th:text="${goods.goodsName}"></td>
            <td><img th:src="@{${goods.goodsImg}}" width="80" height="60"></img></td>
            <td th:text="${goods.goodsTitle}"></td>
            <td th:text="${goods.goodsPrice}"></td>
            <td th:text="${goods.goodsStock}"></td>
            <td><a th:href="'/goods/to_detail/'+${goods.id}">详情</a></td>
            <!-- 直接请求静态页面 -->
            <!--<td><a th:href="'/goods_detail.html?goodsId='+${goods.id}">详情</a></td>-->
        </tr>
    </table>
    <ul class="pager">
        <li>
            <form name='uppageform' th:action="@{/goods/fuzzyQuery}" method='post' th:if="${pagid}!=0">
                <input type='hidden' name='searchName' th:value="${name}"/>
                <input type='hidden' name='searchPageid' th:value="${pagid - 1}"/>
                <a href='javascript:document.uppageform.submit();'>上一页</a>
            </form>
        </li>
        <li>
            <form name='downpageform' th:action="@{/goods/fuzzyQuery}" method='post' th:if="${havenext}!=0">
                <input type='hidden' name='searchName' th:value="${name}"/>
                <input type='hidden' name='searchPageid' th:value="${pagid + 1}"/>
                <a href='javascript:document.downpageform.submit();'>下一页</a>
            </form>
        </li>
        <!--<li><a href="javascript:void(0);" id="uppage" class="determine" th:if="${pagid}!=0">上一页</a>-->
        <!--<li><a href="javascript:void(0);" id="downpage" class="determine" th:if="${havenext}!=0">下一页</a>-->
        <!--<li><a th:href="'/goods/fuzzyQuery/' + ${name} +'/' + ${pagid - 1} " th:if="${pagid}!=0">上一页</a></li>-->
        <!--<li><a th:href="'/goods/fuzzyQuery/' + ${name} + '/' + ${pagid} " th:if="${havenext}!=0">下一页</a></li>-->
    </ul>
</div>

<script th:inline="javascript">
    $(function(){
        $("#uppage").on("click",function(event){
            event.preventDefault();//使a自带的方法失效
            $.ajax({
                url:"/goods/fuzzyQuery",
                type:"post",
                dataType:"json",
                data:{},
            success:function(result){
                if(res.code == 200){
                    window.parent.location.reload();
                }else{
                    alert(res.msg);
                }
            },
            error:function(){
                alert("error!");
            }
        });
    });

</script>

</body>


</html>