<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小小商店</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/homePage}">首页</a></li>
                <li><a th:href="@{/product}">商品</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${not #strings.isEmpty(login_user)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        ${login_user.username}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/logout}">登出</a></li>
                    </ul>
                </li>

                <li class="dropdown" th:if="${not #strings.isEmpty(login_admin)}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        ${login_admin.username}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${/admin/product}">后台管理</a></li>
                        <li><a th:href="${/admin/logout}">登出</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <div class="container">
        <div class="row" th:each="product : ${page.result}">
            <div class="col-md-3 col-sm-4 col-xs-6 text-center">
                <a href="${ctx}/product/${product.id}"><img class="img-thumbnail" src="${ctx}${product.masterPic.url}"
                                                            style="width: 140px; height: 140px;"></a>

                <p>${product.title}</p>

                <p class="price">${product.point}</p>

                <p>
                    <a class="btn btn-info" th:href="${/product/${product.id}}" role="button">查看</a>
                    <a class="btn btn-primary addCart" productid="${product.id}" role="button">购买</a>
                </p>
            </div>
    </div>
    <div class="text-center">
        <tags:pagination page="${page}" paginationSize="${page.pageSize}"/>
    </div>
</div>
<!-- /container -->
<%@include file="/common/footer.jsp" %>
<%@ include file="/common/include-base-js.jsp" %>
<script src="${ctx }/js/product.js" type="text/javascript"></script>
</body>
</html>